<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngelaJS测试</title>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript">
        //创建模块
        var app = angular.module("app",[]);

        //注册处理器
        app.controller("mycontroller",function($scope){
            $scope.list = [1,2,3,4,5];

            $scope.persons=[
                {"id":1,"name":"才枫1","gender":"男"},
                {"id":2,"name":"才枫2","gender":"男"},
                {"id":3,"name":"才枫3","gender":"男"}
            ];
        });

    </script>
</head>
<body ng-app="app" ng-controller="mycontroller">

简单集合遍历：<br>
<div ng-repeat="num in list">
    {{num}} <br>
</div>
<br>

自定义对象遍历：<br>
<table>
<thead>
<tr>
    <td>id</td>
    <td>姓名</td>
    <td>性别</td>
</tr>
</thead>
<tr ng-repeat="p in persons">
    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.gender}}</td>
</tr>
</table>


</body>
</html>